# ---- Python ----
venv/
__pycache__/
*.pyc

# ---- Environment variables ----
.env

# ---- Node / JavaScript ----
node_modules/

# ---- Docker ----
*.log
*.pid
infra/pgdata/

# ---- IDE / Editor ----
.vscode/
.idea/


