
.pairTimeline {
  display: flex;
  flex-direction: column;  /* stack top and bottom */

  overflow-x:auto;
  gap: 0.5rem;             /* optional spacing between timelines */
  padding:2rem
}

.pairTimeline > * {
  /* optional: add padding to avoid content touching edges */
  padding: 1rem;
}
