.container{
    display:flex;
    flex-direction:row; /*aligns items along horizontal axis*/
    
    justify-content:space-evenly;/*positions items along the main axis you are using*/
    align-items:center;/*positions items along cross axis*/
}