html, body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction:row-reverse;

  align-items: center;
  height: 100vh;
  gap: 2rem;

  overflow-x: auto;
  justify-content: flex-start; /* <-- important */
  padding: 0 0rem;             /* <-- prevents edge cutoff */
padding-right: 50vw;
}
